{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">

  <div class="container" style="text-align: center;">
    <table class="table">
      <thead class="thead-dark">

    <tr>



      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Entry Date</th>
      <th>User</th>
    </tr>
      </thead>
    <tr>
      <td>{{item.name }}</td>
      <td>{{item.brand}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.total_price}}</td>
      <td>{{item.created_date}}</td>
      <td>{{item.user}}</td>
    </tr>
    </table>

  </div>
</div>
{% endblock content %}
